#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #80d4d4; 
  z-index: 1000;
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; 
}
.navbar:hover {
  background-color: #488787; /
}
.navbar-menu {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end; 
  gap: 30px;
  margin: 0;
  padding: 0;
}
.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px; 
  border-radius: 5px; 
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}
.navbar-item a:hover {
  color: #0d353a;
  background-color: rgba(240, 43, 120, 0.1); 
  transform: scale(1.1); 
}
.navbar-item a.active {
  background-color: #0d353a; 
  color: white; 
}
.petlogo{
  width: 40%;
  display: flex;
}





/*HOME STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #f9f9f9, #e0f7fa);
  color: #333;
  line-height: 1.6;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}
.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  gap: 20px;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.2s ease-out forwards;
}
.home-text {
  flex: 1;
}
.home-title {
  color: #155454;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0,3s ease-out;
  margin-bottom: -10px;
}
.home-title:hover {
  color: #113636;
}
.home-subtitle {
  color: #333;
  font-size: 1.9rem;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}
.home-subtitle:hover {
  transform: scale(1.05);
}
.home-description {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 20px;
  max-width: 500px;
}
.home-button {
  background-color: #233a3a;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3 ease;
}
.home-button:hover {
  background-color: #155454;
  transform: scale(1.1);
}
.formula-image img {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.cnn-image img {
  width: 500px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.logo-image img {
  width: 200px;
  height: auto;
  margin-top: -50px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.home-image img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.home-image img:hover {
  transform: scale(1.05);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





/* GENERAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ABOUT CONTAINER */
.about-container {
  display: flex;
  align-items: center; /* Center vertically */
  padding: 1px;
  min-height: 100vh; /* Full height */
  font-family: Arial, sans-serif;
  margin-right: 50px;
}

/* ABOUT TEXT CONTAINER */
.about-text-container {
  flex: 1;
  max-width: 800px; /* Limit the width for large screens */
  margin: 1rem;
  text-align: center;
}

.h1-about {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
  color: #80d4d4;
  text-align: center;
}

.h2-about {
  font-size: 1.2rem;
  color: #555;
  margin-top: -1rem;
}

.about-paragraph {
  font-size: 1rem;
  color: black;
  text-align: justify;
  line-height: 1.7;
  margin-top: 1rem;
}

/* SCROLL EFFECT */
.scroll-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-fade.visible {
  opacity: 1;
  transform: translateY(0);
}

/* IMAGE CONTAINER */
.about-image-container {
  margin-left: 100px;
}

.about-animal-image {
  max-width: 500px; 
  height: auto;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 50px rgba(71, 8, 49, 0.5);
}

/* GOALS SECTION */
.about-goals-section {
  background-color: #f1f1f1;
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.about-goals-title {
  font-size: 1.9rem;
  color: #333;
}

.about-goals-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.about-goals-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

/* CONTACT SECTION */
.contact-container {
  padding: 2rem;
  background-color: #e0f7fa;
  text-align: center;
  font-family: Arial, sans-serif;
}

.contact-subtext {
  font-size: 1rem;
  color: black;
  margin-bottom: 2rem;
}

.email-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(5, 5, 5, 0.5);
}

.contact-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.contact-details h3 {
  font-size: 1rem;
  color: #333;
}

.contact-role {
  font-size: 0.9rem;
  color: #888;
}

.contact-button {
  background-color: #155454;
  color: white;
  border: none;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #113636;
}

.additional-support {
  margin-top: 2rem;
  font-size: 1rem;
  color: #155454;
}

.additional-support strong {
  color: #000;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack elements on small screens */
    text-align: center;
  }

  .about-text-container {
    max-width: 90%;
  }

  .about-goals-section {
    padding: 1rem;
  }

  .email-links {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .h1-about {
    font-size: 1.5rem;
  }

  .h2-about {
    font-size: 1.2rem;
  }

  .about-paragraph {
    font-size: 0.9rem;
  }

  .about-animal-image {
    max-width: 90%;
  }
}


/* General Container Styling */
.animal-app-container {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  color: #333;
}

/* Header Section */
.header {
  background-color: #0d353a;
  padding: 2rem 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  color: #fff;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.sub-title {
  font-size: medium;
  margin-bottom: 1.5rem;
}

.sub-titles {
  font-size: medium;
  margin-bottom: 1.5rem;
  text-align: left; /* Aligns text to the left */
}

/* Gallery Section */
.gallery-title {
  font-size: 2rem;
  margin: 2rem 0;
  color: #0d353a;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Centers the images */
  gap: 2rem; /* Space between images */
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.image-item {
  width: 260px; /* Fixed width for each image item */
  height: 380px; /* Fixed height for each image item */
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  transition: transform 0.3s ease;
}

.image-item:hover .gallery-image {
  transform: scale(1.1);
}

/* Text Overlay */
.h3-a {
  font-weight: bold;
  color:#155454;
}
.h4-s {
  font-weight: bold;
  color:#155454;
  font-size: 20px;
}
.h4 {
  font-weight: bold;
  color:#155454;
  font-size: 20px;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 0.3s ease;
}

.image-item:hover .text-overlay {
  opacity: 1;
}

.text-overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-overlay p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.text-overlay .section {
  margin-top: 1rem;
}

.text-overlay .section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffcc00;
}

.text-overlay ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  text-align: left;
  font-size: 0.85rem;
  line-height: 1.4;
}

.text-overlay ul li {
  margin-bottom: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-item {
    width: 90%;
    height: auto;
  }

  .gallery-title {
    font-size: 1.5rem;
  }

  .text-overlay {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: 1.25rem;
  }

  .text-overlay {
    padding: 0.5rem;
  }

  .text-overlay h3 {
    font-size: 1.25rem;
  }

  .text-overlay ul li {
    font-size: 0.8rem;
  }
}

.animal-condition-container {
  color: black;
  max-width: 500px; /* Set a max width for the image */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 50px rgba(5, 5, 5, 0.5); /* Subtle shadow */
  padding: 10px;

}
.predict-condition-container {
  max-width: 700px; 
  margin: 0 auto; 
  padding: 30px;
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}
h1 {
  color: #155454; 
  text-align: center; 
  font-size: 24px; 
  margin-bottom: 5px; 
}
.form-label {
  display: block; 
  margin-bottom: 8px; 
  font-size: 18px;
  font-weight: 600;
  color: #6E2144;
  text-align: left; 
}
.form-option {
  font-style: bold; /* Italicize placeholder */
  color: #000; /* Light gray text for 'Pick an animal' */
}
.form-group {
  margin-bottom: 15px; 
}
select,
input[type="number"] {
  width: 100%; 
  height: 40px; 
  padding: 10px;
  border: 1px solid black; 
  background-color: white;
  border-radius: 5px; 
  font-size: 16px; 
  transition: border-color 0.3s; 
  box-sizing: border-box;
}
select:hover,
input[type="number"]:hover {
  border-color: #5A3A32; 
}
select:focus,
input[type="number"]:focus {
  border-color: #6E2144; 
  outline: none; 
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.back-button,
.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.back-button {
  background-color: #E9ADC6;
  color: #000;
  font-weight: bold;
}
.back-button:hover {
  background-color: #bbb;
}
.submit-button {
  background-color: #6E2144;
  color: white;
  font-weight: bold;
}
.submit-button:hover {
  background-color: #E9ADC6;
}







.navigate-buttons:hover {
  background-color: #80d4d4; 
}
.about-container {
  display: flex;
  align-items: center; /* Center vertically */
  padding: 1px;
  min-height: 100vh; /* Full height */
  font-family: Arial, sans-serif;
  margin-right: 50px;
}
.about-text-container {
  flex: 1; /* Take remaining space */
  max-width: 600px; /* Limit text container width */
}
.animal-condition-container {
  display: absolute;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: flex-start; /* Keep items at the top */
  padding: 20px;
  height: 100vh; /* Full viewport height */
  margin-top: 40px;
  margin-left: -1350px;
}
.welcome-title {
  font-size: 26px;
  color: #80d4d4; /* Dark text color */
  margin: 0; /* Remove margin to align properly */
  margin-right: 130px;
}
.classification-title {
  font-size: 16px;
  color: #222; /* Slightly lighter text color */
  margin: 0; /* Remove margin to align properly */
  margin-right: 50px;
}
.animal-buttons-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 20px; /* Space between buttons */
  margin-top: 20px; /* Add some space above the buttons */
  margin-left: 200px;
}
.animal-button {
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Blue button color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.animal-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Animal information styling */
.animal-info {
  text-align: justify;
  margin-top: 20px; /* Space above the animal info */
  margin-left: 970px;
  font-size: 16px;
  color: #333; /* Dark text color for the info */
  min-height: 50px; /* Reserve space for the animal info */
}

/* PREDICT STYLE */
.predict-button {
  background-color: #6E2144;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.predict-button:hover {
  background-color: #F02B78;
}



.titles {
  color: white;
  font-size: 1.8rem;
  margin-top: 20px;
}
.content-box {
  background-color: #80d4d4;
  padding: 2rem;
  border-radius: 4px;
  text-align: center;
  max-width: 1000px;
  margin-left: 20px;
  margin-top: 250px;
}




/* General container styling */
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; 
  box-sizing: border-box;
}

/* Card Styling */
.result-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  max-width: 900px;
  height: 350px;
  text-align: center;
}

/* Title Styling */
.result-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

/* Result Box Styling */
.result-box {
  background: #f9fafb;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
}

.result-text {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #555555;
}

.label {
  font-weight: bold;
  color: #333333;
  display: block;
  margin-bottom: 5px;
}

.value {
  color: #007bff;
  font-weight: 500;
}

/* No Result Text */
.no-result-text {
  font-size: 1.2rem;
  color: #ff6b6b;
  margin-top: 10px;
}

.algorithm-explanation {
  background-color: #ffffff; /* White background for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  margin: 20px 0; /* Space above and below */
}

.algorithm-explanation h2 {
  margin-bottom: 15px; /* Space below the title */
  font-size: 1.8em; /* Slightly larger font size for the explanation title */
}

.algorithm-explanation p {
  line-height: 1.6; /* Improve readability */
  margin-bottom: 10px; /* Space below paragraphs */
}


